.footer{
    height: 49px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%
    
}

.text{
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 17px; 
    letter-spacing: 0.2px;   
    color: #212529; 
    margin-left: 18px; 
    margin-bottom: 0;
    margin-top: 0;
}
.dav{
    vertical-align: middle;
}
.epa{
    margin-left: 15px;
    margin-right: 20px;
    vertical-align: middle;
}