label:after {
    content:"*";
    color:red;
  }

.btn-primary{
    background: #40A8E6;
    border-color: #40A8E6;
    width: 130.86px;
}
.btn-outline-primary{
    border-color: #40A8E6;
    color: #40A8E6;
    width: 130.86px;
    margin-left: 40.14px;
}
.butt{
    position: absolute;
    bottom: -80px;
    margin-left: -20px;
    margin-bottom: 20px;
    width: 100%
}

@media screen and (max-width:767px){
    .butt{
        position: absolute;
        display: flex;
        justify-content: center;

    }
}