.card{
    margin-left: 25px;
    margin-top: 22px;
    width: 70%;
}
.card-header{
    background: white !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

@media screen and (max-width:800px){
    .card{
        width: 90%
    }
}