.sidebar{
    background: #3A3A3A;
}
.image-epa{
    width: 100px;
    object-fit: cover;
}
.name{
    background: #222222;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.option{
    margin-bottom: 28px;
}
.ico{
    vertical-align: middle;
    margin-right: 17px;
}
.text-icon{
    font-size: 15px;
    line-height: 17px;
    /* or 113% */
    color: #FFFFFF;
}

@media screen and (max-width:766px){
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
    }
}